<header>
  <div class="container">
    <div class="header-content">
      <a href="/" class="logo">DUCHY <b>OPERA</b></a>
      <nav>
        <ul>
          <li><a href="/" {{.HomeActive}}>Home</a></li>
          <li><a href="/whats-on" {{.ProductionsActive}}>What's on</a></li>
          <li><a href="/about" {{.AboutActive}}>About</a></li>
          <li><a href="/news" {{.NewsActive}}>News</a></li>
          <li><a href="/support" {{.SupportActive}}>Support</a></li>
          <li><a href="/contact" {{.ContactActive}}>Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
