{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h2>{{ section.title }}</h2>
        {% for page in section.pages %}
        <article class="card card-list-item">
            <h3><a href="{{ page.permalink }}" aria-label="Read {{ page.title }}">{{ page.title }}</a></h3>
            {% if page.date %}
            <p class="date"><time datetime="{{ page.date | date(format='%Y-%m-%d') }}">{{ page.date | date(format="%B %e, %Y") }}</time></p>
            {% endif %}
            {% if page.summary %}
            <p>{{ page.summary }}</p>
            {% endif %}
            <a href="{{ page.permalink }}" class="btn">Read More</a>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
